.main{
    padding-bottom: 60px;
}
i{
    font-style: normal;
}
.title{
    padding: 30px 0;
}
.title h4{
    font-size: 16px;
    padding-left: 16px;
    border-left:2px solid #0091db ;
}
.a-container{
    border: 1px solid #0091db;
    background: #ffffff;
}
.a-l{
    width: 214px;
    background: #f7fafc;
}
.a-l dt{
    height: 50px;
}
.a-l dt h4{
    line-height: 50px;
    padding-left: 52px;
    background: url("../image/about.png") no-repeat 10px center;
}
.nav>li>a{
    text-align: center;
    line-height: 28px;
    border-top:1px solid #f7fafc;
    border-bottom: 1px solid #f7fafc;
}
.nav-stacked>li+li{
    margin: 0;
}
.nav>li.active{
    position: relative;
    left:2px;
    background: #fff;
}
.nav>li.active>a{
    background: #fff;
    position: relative;
    left: -2px;
    border-top:1px solid #0091db;
    border-bottom:1px solid #0091db;
}
.a-r{
    border-left: 1px solid #0091db;
    width:755px;
    padding-left: 54px;
}
.a-r-t{
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
}
.t-progress{
    height: 3px;
}
.t-progress .progress-bar-info{
    background: #0091db;
}
/*公司简介*/
.mb30{
    margin-bottom: 30px;
}
.l-progress{
    height: 32px;
    border-radius: 0;
    margin-bottom: 0;
}
.l-progress .progress-bar-info{
    background: #3dc0f6;
    line-height: 32px;
    font-size: 16px;
}
.com_cont {
    padding: 30px 0;
    color: #666;
}
.com_cont p {
    text-indent: 2em;
    line-height: 30px;
}
.tab-7-2 {
    border-collapse: collapse;
}
.tab-7-2 td {
    border: 1px solid #ededed;
    padding: 5px 0;
}
.company-profile-img{
    width: 760px;
}
.company-profile-img li {
    float: left;
    margin-right: 20px;
}
.company-profile-img li span {
    display: block;
    text-align: center;
}
.company-profile-img li.last{
    margin-right: 0;
}

/*高端团队*/
.executives li.n1 {
    border-bottom: 1px #c1c1c1 dashed;
}
.executives li {
    padding-bottom: 28px;
}
.executives li img {
    float: left;
    margin-right: 30px;
}
.executives li h3 {
    font-size: 16px;
    color: #797979;
}
.executives li h3 span {
    font-size: 28px;
    color: #000;
}
.executives li p {
    line-height: 30px;
    color: #666;
    text-indent: 24px;
}

/*公司风貌*/
.companyStyle ul{
    letter-spacing: -4px;
}
.companyStyle ul li{
    letter-spacing: 0;
    display: inline-block;
    width:217px;
    height:100%;
    margin-right: 30px;
    float:left;
}
.companyStyle .style-list{
    width: 215px;
    border:1px solid #e3e3e3;
    margin-bottom:20px;
}
.companyStyle .style-list img{
    width:100%;
    display: block;
}
.companyStyle .style-list div{
    width:215px;
    height:50px;
    background-color: #f5f5f5;
    font-size: 14px;
    color:#333;
    text-align: center;
    line-height: 50px;
}

/*媒体报道*/
.media .media-list{
    display: block;
    width:100%;
    height:107px;
    line-height:107px;
    border-bottom: 1px solid #f5f5f5;
}
.media .media-list-l{
    display: inline-block;
    width:144px;
    height:70px;
    margin-right: 20px
}
.media .media-list-l img{
    width:100%;
}

.media .media-list-c{
    display: inline-block;
    width:350px;
    height:70px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right: 130px;
    vertical-align: top;
}
.media .media-list-c:before {
    content: ".";
    display: inline-block;
    width:10px;
    height:70px;
    font-size: 20px;
    color: #0091db;
}
.media .media-list-r{
    display: inline-block;
    width:100px;
    height:70px;
}
/*媒体报道详情*/
.mediaDetails .a-r-t a,
.amDetail .a-r-t a
{
    font-size: 16px;
}
.mediaDetails .a-r-t a:before,
.amDetail .a-r-t a:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 18px;
    vertical-align: bottom;
    margin-right: 5px;
    background: url(../image/icon-reply.png) no-repeat center center;
}
.mediaDetails .mediaDetails-top h3{
    font-size: 16px;
    color:#6b6b6b;
    text-align: center;
    margin-bottom:28px;

}
.mediaDetails .mediaDetails-top p{
    width: 100%;
    text-align: center;
    color:#999;
    margin-bottom:28px;

}
.mediaDetails .mediaDetails-top p span{
    margin-right: 40px;
    font-size: 12px;
}
.mediaDetails .mediaDetails-text p{
    font-size: 14px;
    line-height: 30px;
    text-indent: 30px;
    padding:8px;
    margin-bottom: 24px;

}
.mediaDetails .mediaDetails-text img{
    display: block;
    width: 100%;
    margin-bottom: 24px;

}
/*官方公告*/
.announcement-detail-item {
    border-bottom: 1px solid #f5f5f5;
}

.announcement-item-content {
    color: #333;
}
.announcement-item-time {
    color: #808080;
}
.announcement-item-logo,
.announcement-item-content,
.announcement-item-time {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
}
.announcement-item-logo {
    color: #0091db;
    font-size: 30px;
    padding-bottom: 15px;
    height: 35px;
    line-height: 35px;
}
.pagination .announcement-pagination-item>a {
    margin-right: 9px;
    color: #808080;
}
.pagination .announcement-pagination-item.active>a {
    color: #fff;
    background-color: #0091db;
}
/*公告详情*/
.amDetail-tilte {
    font-size: 18px;
    color: #000;
    text-align: center;
}
.amDetail-title-info {
    padding: 29px 0;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}
.amDetail-info-time,
.amDetail-info-readcount{
    display: inline-block;
    font-size: 12px;
    color: #999;
}
.amDetail-info-time {
    margin-right: 38px;
}
.amDetail-content {
    padding-top: 27px;
    padding-bottom: 135px;
    color: #333;
}
.amDetail-content-main {
    text-indent:2em;
    margin-top: 40px;
}

/*加入我们*/
.join_tex {
    padding: 30px 0;
}
.size_16 {
    font-size: 16px;
}
.padt30 {
    padding-top: 30px;
}
.join_tex ol li {
    line-height: 30px;
    color: #666;
}
.pdt10 {
    padding-top: 10px;
}
.join_rb {
    padding-bottom: 30px;
}
.team {
    text-indent: 2em;
    line-height: 30px;
}
.b_btm {
    border-bottom: 1px solid #ebebeb;
}
.hand span {
    width: 78px;
    height: 56px;
    background: url(../image/about/hand.jpg) no-repeat;
    margin-right: 80px;
}
.pdt15 {
    padding-top: 15px;
}
.c_bule {
    color: #00a8ec;
}

/*联系我们*/
#allmap{
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.conten_in {
    margin: 0 0 0 0;
    width: 100%;
}
.conten_in .gy {
    padding: 12px 20px;
    background: #f1f5f8;
    line-height: 30px;
}
.conten_in .gy a{
    color: #0091db;
}
.infor {
    padding-left: 20px;
    margin-bottom: 60px;
}
.mgb10 {
    margin-bottom: 10px;
}
.infor strong {
    display: block;
    height: 35px;
    color: #000;
}
.infor p {
    height: 30px;
}
.infor s {
    padding: 0 5px;
    text-decoration: none;
}
.c_cyan1 {
    color: #00a8ec;
}
em {
    font-style: normal;
}
.infor_r {
    margin-left: 50px;
    display: inline;
}
.telp {
    color: #ff9600;
}
.infor_r img{
    vertical-align: top;
}