.bg.content {
    padding: 30px 0 37px;
}


/*financing导航*/
.financing-nav{
    width: 100%;
    height: 88px;
    padding: 38px 0 17px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.financing-nav ul {
    letter-spacing: -4px;
}
.financing-nav ul li{
    width: 112px;
    height: 30px;
    letter-spacing: 0px;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    line-height: 30px;
}
.financing-nav ul li a{
    color:#808080;
    display: block;
    width: 100%;
    height:100%;
}
.financing-nav ul li.active,.financing-nav ul li:active,.financing-nav ul li:hover{   
    color:#fff;
    background: url(../image/round-rectangle.png) no-repeat center center;

}
.financing-nav ul li.active a,.financing-nav ul li:active a,.financing-nav ul li:hover a{   
    color:#fff;

}


/*lists*/
.hot-bg{
    background: #ed1a00;
}
.recommend-bg{
    background: #ff5607;
}
.hot-color{
    color: #ed1a00;
}
.recommend-color{
    color: #ff5607;
}
.hot-border{
    border-top: 5px solid #ed1a00;
}
.recommend-border{
    border-top: 5px solid #ff5607;
}
.hot-marked{
    position: absolute;
    left: 0;
    width: 53px;
    height: 35px;
    background: url(../image/hot2.png) no-repeat;
}
.recommend-marked{
    position: absolute;
    left: 10px;
    top: 0;
    width: 35px;
    height: 62px;
    background: url(../image/recommend2.png) no-repeat;
}

.lists .list{

}
.lists .list-item{
    background: #fff;
    border: 1px solid #e9e9e9;
    padding-left: 60px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 35px;
}
.lists .list-item .top{
    padding-bottom: 10px;
    line-height: 35px;
    border-bottom:1px solid #e9e9e9; 
}
.lists .list-item .top h3{
    line-height: 35px;
    color: #000;
}
.lists .label{
    background: none;
    border: 1px solid #0091db;
    color: #0091db;
    padding: .2em .6em;
    margin-left: 40px;
}
.lists .progress{
    height: 6px;
    margin-bottom: 12px;
    overflow: visible;
}
.lists .progress-bar{
    height: 6px;
    border-radius: 4px;
    position: relative;
}
.lists .badge{
    position: absolute;
    bottom: 10px;
    right: -15px;
    border-radius: 0;
}
.lists .caret2{
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.lists .up{
    line-height: 1;
}
.lists .y-big{
    font-size: 48px;
    color: #0091db;
}
.lists .d-big{
    font-size: 30px;
    color: #000;
}
.lists .cen li{
    padding: 0 12px;
}
.lists .cen li.y{
    padding-top: 25px;
    width: 190px;
}
.lists .cen li.d{
    padding-top: 40px;
    width: 150px;
}
.lists .cen li.d .up{
    margin-bottom: 3px;
}
.lists .cen li.t{
    padding-top: 40px;
    width: 180px;
}
.lists .cen li.t .up{
    margin-bottom: 3px;
}
.lists .cen li.p{
    width: 240px;
    padding-top: 55px;
    width: 214px;
}
.lists .cen li.b{
    padding-top: 40px;
    padding-right: 0;
}
.lists .cen li.b .btn{
    font-size: 18px;
    padding: 10px 30px;
    color: #fff;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.lists .cen li.b .btn:hover{
    background: #0091db;
}

.lists .cen li.b .btn.over{
    background: #ccc;
    cursor: default;
    padding: 10px 39px;
}
.lists .cen li.b .btn.over:hover{
    background: #ccc;
}

.financing-foot-nav{
    letter-spacing: -4px;
    text-align: right;
    width: 100%;
    height: 40px;
}
.foot-nav{
    height: 37px;
    letter-spacing: 0px;
    vertical-align: top;
    display: inline-block;
}

.foot-nav a{
    width: 51px;
    height: 37px;
    letter-spacing: 0px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    line-height: 37px;
    border:1px solid #dcdcdc;
}
.foot-nav .long{
    width:73px;
}
.financing-foot-nav ul {
    display: inline-block;
    letter-spacing: -4px;
}
.financing-foot-nav ul li,.foot-nav-more{
    width: 37px;
    height: 37px;
    letter-spacing: 0px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    line-height: 37px;
    border:1px solid #dcdcdc;
}
.foot-nav-more{
    border:1px solid #f5f5f5;
}

.financing-foot-nav ul li a{
    display: block;
    border-radius: 5px;
    width: 100%;
    height:100%;
}
.financing-foot-nav ul li.active a,.financing-foot-nav ul li:active a,.financing-foot-nav ul li:hover a,.foot-nav a:hover{  
    color:#fff;
    background: #0091db;
    border:1px solid #0091db;

}

