.bg.content {
    padding-bottom: 37px;
}
i{
    font-style: normal;
}
.lists .title{
    padding: 10px 0 16px;
}
.lists .title.first-title{
    padding: 30px 0 16px;
}

.lists .title h3 {
    font-size: 18px;
    line-height: 18px;
    color: #0091db;
}
.lists .red,.lists .loan-discount p .red,.lists .red,.lists .loan-discount li .red{
    color:#ed1a00;
}
.lists .text-p,.lists .text-li{
    margin-left: 46px;
}
.lists .text-li label {
    font-weight: 400;
    display: inline;
    font-size: 16px;
    margin-left: 13px;
    /* line-height: 25px; */
}
.lists .text-p input[type=checkbox]{
    margin-right: 10px;
}

.lists .title h3:before {
    content: "";
    width: 4px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: #0091db;
    margin-right: 10px;
}

.lists .list{

}
.lists .list-item{
    background: #fff;
    border: 1px solid #e9e9e9;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 20px;
}



.lists .loan-discount{
    width: 100%;
    /*height: 60px;*/
}

.lists .loan-discount li{
    padding-left: 38px;
    font-size: 16px;
    line-height: 46px;
    color:#6b6b6b;
}
.lists .loan-discount p span,.lists .loan-discount li span{
    margin-left:20px;
    font-size: 16px;
    color:#808080;
}
.lists .loan-discount p .text-title,.lists .loan-discount li .text-title{
    text-align: right;
    display: inline-block;
    width:90px;
    height:16px;
}
.lists .loan-discount p i,.lists .loan-discount li i{
    margin-left:10px;
    font-size: 16px;
    color:#0091db;
}


.lists .loan-btn{
    margin:30px auto 25px;
    width: 100%;
    text-align: center;
}
.lists button{
    width:190px;
    height:45px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 46px;
    color:#ff5607;
    outline: none;
    border: none;
    border:1px solid #ff5607;
}
.lists button:first-child{
    margin-right: 90px;
}
.lists button.active,.lists button:active,.lists button:hover{
    background: #ff5607;
    color:#fff;
}



.lists h5{    
    color: #0091db;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}


