.bg.content {
    padding-bottom: 37px;
}
.lists{
    width:851px;
    margin:0 auto;
}

.lists .title{
    padding: 10px 0 16px;
}
.lists .title.first-title{
    padding: 30px 0 16px;
}

.lists .title h3 {
    font-size: 18px;
    line-height: 18px;
    color: #0091db;
}
.lists .title h3 span{
    margin-left:42px;
}
.lists .red{
    color:#ed1a00;
}

.lists .title h3:before {
    content: "";
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/icon-loantext.png) no-repeat center left;
    margin-right: 2px;
}

.lists .list{
    display: table;
    background: #fff;

}
.lists .list-item{
    background: #fff;
    border-left: 1px dashed #e9e9e9;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 20px;
}



.lists .up{
    line-height: 1;
}

.lists .x1{
    padding-top: 34px;
    width:320px;
    float:left;
}
.lists .x1 .rotate{
    display: block;
    margin: 0 auto;
    width: 99px;
    height: 99px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;

}
.lists .x1 .y-big{
    background: url(../image/loan1.png) no-repeat center center;
}
.lists .x1 .d-big{
    background: url(../image/loan2.png) no-repeat center center;
}
.lists .x1 .t-big{
    background: url(../image/loan3.png) no-repeat center center;
}
.lists .x1 .m-big{
    background: url(../image/loan4.png) no-repeat center center;
}
.lists .x1 .rotate:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}


.lists .cen li{
    padding-top: 15px;
    width: 230px;
    padding: 0 10px;
    text-align: center;
}


.lists .cen li .up{
    margin-top: 15px;
    margin-bottom: 15px;
}


.lists button{
    width:190px;
    height:45px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 46px;
    color:#ff5607;
    outline: none;
    border: none;
    border:1px solid #ff5607;
}
.lists button.active,.lists button:active,.lists button:hover{
    background: #ff5607;
    color:#fff;
}



.lists h5{    
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}

.lists .list-form{
    width:529px;
    height:800px;
    background:#fff;
    float:left;
}
.lists .list-form span{
    margin-right:42px;
}
.lists .list-form form{
    width:379px;
    height:500px;
    margin:0 auto;
}
.lists form .form-text1{
    width:100%;
    height:60px;
    line-height: 60px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px;
    color:#5d5d5d;
}
.lists form .form-text2{
    width:100%;
    height:210px;
    line-height: 60px;
    font-size: 14px;
    color:#5d5d5d;
}
.lists textarea{
    width:350px;
    height:110px;
    padding:10px;
    border:1px solid #e9e9e9;
    background: #f5f5f5;
    line-height: 24px;
}

.lists form .form-text3{
    width:100%;
    height:120px;
    line-height: 60px;
    font-size: 14px;
    color:#5d5d5d;
}
.lists  input[type="text"] {
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border:1px solid #e9e9e9;
    background: #f5f5f5;
    margin-right: 20px;
}
.lists select {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-align: center;

}
.lists input[type=radio]{
    width:14px;
    height:14px;
    vertical-align: middle;
    margin: 0;
    margin-right: 3px;
}


.lists form .form-text4{
    width:100%;
    height:100px;
    line-height:100px;
    text-align: center;
}















